body{
    width: 100%;
    height: 100%;
    background: #fffdfd;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    border-radius: 15px;
    display: flex;
    font-size: 15px;
    line-height: 50px;
    background-color: #fff;
    flex-direction: column;
    font-size: 20px;
    padding: 40px;

}

.header.-aluno{
    display: flex;
    background-color: rgb(213, 216, 214);
    justify-content: center;
    align-items: center;

}

.form{
    background-color:rgb(239, 243, 241) ;
    margin:85px 0;
}
.acesso-main{
    font-family: "varela round";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.main-label{
    font-size: 14px;
}

.input{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}
.main-input{
    padding: 09px 16px;
    height: 22.8px;
    outline: 0;
}
.no-remember{
    font-size: 12px;
    padding: 0 50px;
}

.btn-enter{
    color: #fff;
    font-weight: bold;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    background-color: #ff6600;
    height: 40px;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.btn-acess{
    background-color: #000;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    height: 40px;
    border: #747272 solid;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.footer-area-aluno{
    background-color: black;
}

.box-footer{
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-footer{
    border-bottom: 2px solid #FFF;
    border-top: 2px solid #FFF; ;
    padding: 30px;
}