
.header{
    width: 100%;
    padding: 20px 0Px 10px ;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    text-decoration: none;
    align-items: center;

}
.icone{
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}


.header.-franqueado{
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 100%;
    
}

.icone.header.-franqueado{
    margin: none;
    padding: none;
}