.action{
    color: black;
    margin-left: 20px;
    text-decoration: none;
    padding: 8px 25px ;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}
.action:last-child{
    border-radius: 50px ;
    background-color: orangered; 
}

.action:hover{
    background-color: gray;
    border-radius: 50px;

}

