.title{
    text-decoration: none;
    display: flex;
    font-family: 'figtree', sans-serif;
    font-weight: bold;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    margin: 23px 0px;
}
/* acima é a config básica de todos os titles main da página */

.title.-escolher{
    text-decoration: none;
    color: #000;
    display: inline-flex;
    font-family:"Varela round";
    font-weight: bold;
    font-size: 20px;
    background-color:#FFF ;
    padding: 15px 20px;
    border-radius: 50px;
    transition: transform 100ms linear;
}
.title.-escolher:hover{
    color: #FFF;
    background-color: #000;
    transform: scale(1.02);
    cursor: pointer;
}

.title.-app{
    flex-wrap: wrap;
    width: 360px;
}

.title.-franqueado{
    justify-content: left;
    margin: 0;
    font-size: 45px;
}

.title.-revolucionamos{
    margin: 50px 0 70px;
}

.title.-shadow{
    text-shadow: 3px 3px 0px #f08741;
    margin: 0;
    font-size: 65px;
}