
.topicos-revolucionamos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin-bottom: 60px;
}

.area-revolucoes{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topico{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-topico-franqueado{
    display: flex;
    flex-wrap: wrap;
    width: 244px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-mais{
    margin-bottom: 35px;
}