.section-receba-emails{
    color: #444444;
    display:flex;
    flex-direction: column;
    background-color:#ebebeb;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.area-input-email{
    display: flex;
    gap: 10px;
}
.input-email{
    font-family: "Varela round";
    width: 465px;
    max-width: 465px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    outline: 0;
}
