.tabel-main{
    border-spacing: 0px;
    margin-left: 0;
    padding-left: 0;
    font-family: "varela round";
}

.tabel-main td{
    
    /* border-left: 1px solid black; */
}

.tabel-main td:first-child{
    border-top: 1px solid black;
    text-align: left;
    width: 710px;
}

.tabel-main td:nth-child(2){

    width: 200px;
    border-top: 1px solid black;

}
.tabel-main td:last-child{
    width: 200px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;;

}

.tabel-noborder{
    border-top: none;
    /* background-color: aquamarine; */
}
.tabel-main tr:first-child{
    border-bottom: none;

}